*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial;
}

.dimension{
    display: flexbox;
    height: 100%;
}

.nav{
    background-color: black;
    flex-wrap: nowrap;
    margin: 0px;
    justify-content: center;
}

.encabezado{
    /* background-color: rgb(11, 19, 26); */
    background-image: url(/img/ladrillos.jpg);
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}

.seccion{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    background-image: url(/img/fondo.jpg);
    min-height: 650px;
    padding: 16px;
    text-align: justify;
    color: #fff;
}

#adminSec{
    background-image: url(/img/fondo.jpg);
    padding-left: 10%;
    font-size: 20px;
    display: flexbox;
}



.btnADMIN{
    font-size: 20px;
}


.piepag{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.neon{
    color: #fff;
    letter-spacing: 2px;
    transition: 0.1s;
}

.neon:hover{
    background: rgb(97, 179, 145);
    transition: 0.5s;
}

.neon-select{
    padding: 10px 0px 10px 0px;
    /*background-color: rgb(97, 179, 145);*/
}

.texto-neon{
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 0 5px rgb(20, 227, 241),
    0 0 25px rgb(142, 238, 222),
    0 0 50px rgb(142, 238, 222),
    0 0 75px rgb(142, 238, 222);
}

.productos1{
    width: 35ch;
    height: 400px;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(2, 233, 32),
    0 0 0.6rem rgb(241, 20, 20),
    0 0 1.4rem rgb(22, 223, 129),
    inset 0 0 0.5rem rgb(241, 20, 20); 
}
.productos2{
    width: 35ch;
    height: 400px;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(2, 233, 32),
    0 0 0.6rem rgb(241, 20, 20),
    0 0 1.4rem rgb(22, 223, 129),
    inset 0 0 0.5rem rgb(241, 20, 20); 
}
.productos{
    width: 35ch;
    height: 400px;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(2, 233, 32),
    0 0 0.6rem rgb(241, 20, 20),
    0 0 1.4rem rgb(22, 223, 129),
    inset 0 0 0.5rem rgb(241, 20, 20); 
}


.productos img{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.productos a{
    text-decoration: none;
    color: white;
}


.productos-index{
    width: 35ch;
    height: 400px;
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(2, 233, 32),
    0 0 0.6rem rgb(241, 20, 20),
    0 0 1.4rem rgb(22, 223, 129),
    inset 0 0 0.5rem rgb(241, 20, 20);  
}

.productos-index img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.productos-index a{
    text-decoration: none;
    color: white;
}


.seccion-productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.titulos{
    font-size: 48px;
    color: black;
    font: bold;
}

.textos{
    font-size: 24px;
    color: black;
    font: bold;
}

.index1{
    min-width: 45%;
    max-width: 60%;
}

.index2{
    width: 30%;
}

/* Selector de etiquetas */
nav{
    display: flex;
    flex-direction: row;
}

#navadmin{
    display: flexbox;
    flex-direction: row;
    padding-left: 25%;
    padding-bottom: 2%;
    position: relative;
    padding-top: 1%;
}

nav a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid white;
    color: black;
    margin: 10px auto;
    width: 20%;
    border-radius: 10px;
}

@media screen and (max-width: 700px){
    nav, nav a, .neon-select{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        padding: 10px;
        width: 90%;
    }

}

section{
    display: flex;
    flex-flow: wrap;
}


@media screen and (max-width: 925px){
    section{
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 700px){
    .index1, .index2{
        width: auto;
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
}

@media screen and (max-width: 900px){
    .productos-index{
        width: auto;
        /* max-width: 35ch;
        min-width: 27ch; */
        justify-content: center;
    }
}

form{
    display: flex;
    justify-content: center;
    text-align: center;
}

form div{
    width: 300px;
    padding: 20px;
    border: 2px solid white;
    margin: 10px;
    justify-content: center;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem rgb(2, 233, 32),
    0 0 0.6rem rgb(241, 20, 20),
    0 0 1.4rem rgb(22, 223, 129),
    inset 0 0 0.5rem rgb(241, 20, 20); 
}

li{
    color: black;
}

h1{
    color: black;
}

h2{
    color: black;
}

p{
    color: black;
}

.sus{
    text-decoration: none;
    color: white;
    font-family: Arial;
}